<h1>Cus List</h1>
<a routerLink="/customer/create">create</a>
<table class="table">
  <tr>
    <td>STT</td>
    <td>id</td>
    <td>name</td>
    <td>dateOfBirth</td>
    <td>idCard</td>
    <td>phone</td>
    <td>email</td>
    <td>address</td>
    <td>cusType</td>
    <td>gender</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let c of customerList; index as i">
    <td>{{i + 1}}</td>
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.dateOfBirth}}</td>
    <td>{{c.idCard}}</td>
    <td>{{c.phone}}</td>
    <td>{{c.email}}</td>
    <td>{{c.address}}</td>
    <td>{{c.cusType.type}}</td>
    <ng-container *ngFor="let ct of cusTypeList">
      <td *ngIf="c.cusType.id === ct.id">{{ct.type}}</td>
    </ng-container>
    <ng-container [ngSwitch]="c.gender">
      <td *ngSwitchCase="1">Male</td>
      <td *ngSwitchCase="0">Female</td>
    </ng-container>
    <td><a [routerLink]="['/customer/detail',c.id]">Edit</a></td>
    <td><a [routerLink]="['/customer/delete',c.id]">Delete</a></td>
  </tr>
</table>
